* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,167,233,1) 100%);
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.header {
    display: flex;
    width: 700px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    border: solid rgb(255, 255, 255) 2px;
    border-radius: 10px;
    color: beige;
    padding: 10px;
    font-style: white;
    margin-bottom: 50px;
    margin-top: 10px;
}

.score {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: beige;
    border-radius: 10px;
    color: black;
    width: 100px;
    height: 75px;
    padding: 11px;
}

#currentScore {
    font-size: 30px;
    font-weight: bold;
}

#scoreDisp {
    font-size: 24px;
    font-weight: bold;
    color: rgba(148,167,233,1);
    margin-bottom: 10px;
    padding: 5px;
}

.container {
    display: flex;
    justify-content: center;
}

img {
    width: 100px;
}

.container img{
    cursor: pointer;
    transition: all 0.2s;
}

.container img:hover{
    transform: translate3d(0px, -8px, 0px);
}

.result {
    display: flex;
    width: 850px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 10px;
}

.player {
    color: beige;
    font-weight: bold;
    font-size: xx-large; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 200px;
}

button {
    background-color:rgb(238,174,202) ;
    color: beige;
    font-size: large;
    border-radius: 12px;
    border-color: rgba(148,167,233,1);
    margin: 24px 12px;
    padding: 12px 24px;
    transition: all 0.1s;
    cursor: pointer;
}

button:hover{
    transform: translate3d(0px, -2px, 0px);
    background-color: rgb(182, 73, 213);
}

.resultMessage {
    font-size: xx-large;
    font-style: italic;
    color: beige;
}

.finalResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 30px;
}

.roundStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    font-size: 24px;
    font-weight: 500;
    margin: 50px 24px ;
    flex: 1;
}

.roundNum {
    margin-bottom: 50px;
}

.nextRound {
    margin-top: 75px;
}