* {
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,167,233,1) 100%);
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.header {
    display: flex;
    width: 700px;
    justify-content: space-between;
    align-items: center;
    border: solid rgb(255, 255, 255) 2px;
    border-radius: 10px;
    color: beige;
    padding: 10px;
    font-style: white;
    margin-bottom: 50px;
    margin-top: 10px;
}

.score {
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    align-items: center;
    background-color: beige;
    border-radius: 10px;
    padding: 5px;
    color: black;
    padding: 4px 10px;
    width: 70px;
}

.container {
    display: flex;
    justify-content: center;
}

img {
    width: 100px;
}

.container img{
    cursor: pointer;
    transition: all 0.2s;
}

.container img:hover{
    transform: translate3d(0px, -8px, 0px);
}

.result {
    display: flex;
    width: 750px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 10px;
}

.currentResult {
    width: 24px 300px;
    justify-content: center;
    text-align: center;
    /*background-color: beige;*/
    font-size: 24px;
    font-weight: 500;
    border-radius: 12px;
    margin: 5px 24px ;
}

.player {
    color: beige;
    font-weight: bold;
    font-size: xx-large; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#againBtn {
    background-color:rgb(238,174,202) ;
    color: beige;
    font-size: large;
    border-radius: 12px;
    border-color: rgba(148,167,233,1);
    margin: 24px 12px;
    padding: 12px 24px;
}

.resultMessage {
    font-size: xx-large;
    font-style: italic;
    color: beige;
}

.finalResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

.roundStatus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-between;
}